<br>
<h2>Ingresar Servicio</h2>
    <br>    
     <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div class="form-group">
            <label for="tecnico">Técnico</label>
            <input type="text" class="form-control" id="tecnico" name="tecnico" formControlName="tecnico" >
        </div>
        
        <div class="form-group">
            <label for="servicioRealizado">Servicio</label>
            <input type="text" class="form-control" id="servicioRealizado" formControlName="servicioRealizado">
        </div>

        <div class="form-group">
            <label for="semanaDelAno">Semana del año</label>
            <input type="number" class="form-control" id="semanaDelAno" formControlName="semanaDelAno" >
        </div>

        <div class="form-group">
            <label for="diaDeLaSemana">Día de la semana</label>
            <input type="text" class="form-control" id="diaDeLaSemana" formControlName="diaDeLaSemana" >
        </div>        

        <div class="form-group">
            <label for="horaInicial">Hora Inicial</label>
            <input type="number" class="form-control" id="horaInicial" formControlName="horaInicial" >
        </div>

        <div class="form-group">
            <label for="horaFinal">Hora Final</label>
            <input type="number" class="form-control" id="horaFinal" formControlName="horaFinal" >
        </div>        
        
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Enviar</button>
    </form>
   
   
    
    
      